* {
    padding: 0px;
    margin: 0px;
  }

.vertical-center {
    min-height: 100%;
    min-height: 100vh; 
    display: flex;
    align-items: center;
}

.form-control{
    margin-top:5px;
    margin-bottom: 5px;
}

.btn{
    margin-top:5px;
    margin-bottom:5px;
}

.btnn{
    margin-top:5px;
    margin-bottom:5px;
}
.card{
    padding:5px
}
.card2{
	padding:30px;

}

.validation-msg{
    font-size: 16px;
    color: red;
}

.left{
	min-width: 100%;
    display:flex;
	align-items: stretch;
	flex-flow: row;
}
.naziv{
	padding:100px
}

.react-select{
    padding-top: 5px;
    padding-bottom: 5px;
}